* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

nav {
    background-color: #4528A0;
    text-transform: uppercase;
}

a {
    cursor: pointer;
}

a img {
    user-select: none;
}

.neo-section {
    min-height: 85.9%;
    width: 100%;
    padding: 1.8rem;
    position: relative;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.wm {
    width: 50%;
    float: left;
}

.wm a {
    text-decoration: none;
}

.center {
    text-align: center;
}

.neo-container {
    max-width: 80rem;
    padding: 2% 2%;
    margin: 0 auto;
    margin-top: 12.5rem;
}

.neo-container h1 {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}

.btn-center {
    background-color: rgba(0, 0, 0, .5);
    width: 17.5rem;
    color: #fff;
    border-radius: 10px;
    border: 3px solid #4528A0;
    padding: 1.25rem;
    font-weight: bold;
    transition: all .5s;
}

.btn-center:hover {
    background-color: rgba(0, 0, 0, .5);
    color: #CE93D8;
    border: 3px solid #4528A0;
    transition: all .5s;
}

.navbar-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.nav-item {
    font-weight: bold;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    transition: all .5s;
}

.nav-item:hover {
    background-color: #1b0072;
    border-radius: 10px;
    transition: all .5s;
}

.formPrincipal {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    padding: .5%;
    margin-left: 1%;
    border-radius: 10px;
}

#sair {
    margin-left: 5%;

}

#sair:hover {
    background-color: #B02A37;
    transition: 0s;
}

.btns {
    padding: 2% 15%;
}

/*.search-box {
    background: #c3b1e1;
    border-radius: 40px;
    padding: 5px;
    margin-right: .5%;
}

.search-box:hover > .search-text{
    width: 240px;
    padding: 0 9px;
}

.search-box:hover > .search-btn{
    background: white;
    color: #982aff;
    border-radius: 40px;
}

.search-btn {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
.search-btn > i {
    fontsize: 30px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 0px; 
}*/

.rodape {
    color: #fff;
    background-color: #4528A0;
    text-align: center;
    font-size: 1.10em;
    padding: 15px;
}

/* Responsividade */

@media screen and (max-width: 667px) {
    
    .wm {
        width: 100%;
    }

    .nav {
        height: 100%;
    }

    #sair {
        width: 20%;
    }

    .neo-container {
        margin-top: 7.5rem;
    }

    /*.search-box {
        margin-bottom: 2%;
    }*/

    .formPrincipal {
        width: 60%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

}